<div class="container-fluid bg-dark">
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="#">Snopy</a>
      <br>
      <p class="text-muted">© 2022 Company. Desarrollado por PWI.</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5 class="text-muted">Contacto</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Snopy</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">500 Terry Francois Street</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <ul class="nav flex-column">
        <br>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">San Francisco, CA 94158</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tel 123-456-7890</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Email info@mysite.com</a></li>
      </ul>
    </div>
  </footer>
    </div>
  
</div>

