<div class="container-fluid">
    <div class="container">
        <div>

            <p>
                <br>
                <h2 id="ficha-raza-perro-carlino"><strong>Ficha de la raza de perro Caniche</strong></h2>
                <strong>
                    Origen:
                </strong>
                Francia<br>
                <strong>Tamaño:
                </strong> Dependiendo de la variedad<br>
                <strong>Grupo:</strong> FCI: Grupo 9, Sección 2: Perros de compañía
            </p>
            <h2 id="historia-caniche">Historia del Caniche</h2>

            <p>El nombre de caniche deriva de la palabra <em>canard</em> que tiene el <strong>significado de
                    "pato"</strong>. Es descendiente del antiguo
                <strong>Barbet,</strong> perro de aguas galo que fue importado por España y Portugal desde el norte de
                África hasta llegar a Francia en el S. VIII,
                donde se estableció el origen de esta raza. En la Edad Media y hasta el Renacimiento la agilidad propia
                de su raza lo destinó a la<strong>
                    caza de aves natatorias</strong> como patos, cisnes o gansos. Se les conoce como perros acuáticos
                por ser<strong> resistentes al agua</strong>
                y adaptarse muy bien a terrenos fangosos.
            </p>

            <p>Su inteligencia y destreza le convertirían a partir del siglo XVI en protagonista de <strong>números de
                    circo</strong>. Capaces de realiza
                r piruetas y otros malabares, los caniches amaestrados captaban la admiración de todos los espectadores.
                Entonces la raza se popularizó por su
                belleza entre la alta sociedad. Se convirtió en animal exclusivo de la corte que los nobles adornaban
                con joyas y adornos de lujo. A pesar de
                la caída del Imperio francés, su popularidad se extendió por toda Europa y América del Norte. En la
                actualidad, los caniches son conocidos en
                todos los continentes como animal de compañía.
            <p><img class="img-responsive" load="lazy"
                    src="https://www.hogarmania.com/archivos/201705/mascotas-perros-razas-caniche-XxXx80.jpg"
                    alt="caniche raza perro" height="auto" width="100%"></p>
            <h2 id="rasgos-fisicos-caniche">Rasgos físicos del Caniche</h2>

            <p>Existen <strong>cuatro variedades</strong> de caniche. La versión más pequeña es el <strong>toy</strong>
                que presenta una altura a la cruz de
                hasta 28 cm. El <strong>enano</strong> oscila entre los 28 y los 35 cm., el <strong>mediano</strong>
                tiene un tamaño de 35 a 45 cm., mientras que el
                <strong>grande</strong> puede llegar hasta los 55 cm.
            </p>

            <p>El caniche destaca por su atractivo pelo rizado y lanoso. Aunque los colores más habituales de la raza
                son el <strong>negro y el blanco</strong>,
                también hay marrones, grises o de tonos albaricoque. Sus alegres ojos le dan una <strong>imagen
                    despierta</strong> y aunque suelen ser negros pueden
                presentar también tonalidades ámbar. Su aspecto distinguido viene marcado por su <strong>cabeza alta y
                    erguida</strong> y un alargado cuello que le
                aportan un aire elegante. De <strong>hocico pronunciado</strong>, orejas largas y colgantes, el caniche
                presenta una mandíbula prominente y una
                dentadura sólida.</p>

            <p>Su cuerpo está bien proporcionado. Se distingue por un <strong>lomo y hombros musculosos</strong>, además
                de un pecho firme. Tanto las extremidades
                anteriores como posteriores son rectas y están perfectamente alineadas de forma paralela. El caniche es
                un perro de <strong>cola larga</strong>,
                aunque se le suele cortar en un tercio cuando son cachorros.</p>
            <p><img class="img-responsive" load="lazy"
                    src="https://www.hogarmania.com/archivos/201705/mascotas-perros-razas-caniche-tamano-XxXx80.jpg"
                    alt="caniche raza perro" height="auto" width="100%"></p>
            <h2 id="comportamiento-caniche">Comportamiento del Caniche</h2>

            <p>Los caniches sobresalen por su <strong>inteligencia y buena memoria</strong>. Son muy activos y
                despiertos pero también disciplinados,
                por lo que<strong> se les enseña con gran facilidad </strong>y su adiestramiento no resulta nada
                complicado. De ahí que sean buenos aprendices
                para pruebas de trabajo y agilidad. También ejercen de<strong> guardianes</strong> del hogar ladrando
                para avisar de las visitas.</p>

            <p>Además, son <strong>cariñosos, juguetones y leales</strong> con su amo por lo que se convierten en
                mascotas ideales para vivir en familia.
                Su actitud alegre y juguetona hace del caniche un amigo<strong> inseparable para los más pequeños de la
                    casa</strong>. Además, no tienen
                problemas para relacionarse con otros perros o animales de compañía.</p>
            <p><img class="img-responsive" load="lazy"
                    src="https://www.hogarmania.com/archivos/201510/mascotas-raza-de-perro-caniche-1-XxXx80.jpg"
                    alt="razas perros caniche " height="auto" width="100%"></p>
            <h2 id="cuidados-caniche">Cuidados del Caniche</h2>

            <p>El abundante pelaje del caniche requiere un <strong>peinado diario</strong>, además de un lavado mensual
                y un corte periódico. Dentro
                de la estética de los caniches, el "corte león" se ha convertido en una seña de identidad de la raza que
                consiste en esquilar la parte
                trasera hasta las costillas y las extremidades, dejando intactos los puños y el pompón final de la cola.
                El caniche no pierde mucho pelo
                pero es importante <strong>mantenerlo cuidado </strong>para evitar enredos.</p>

            <p>El dueño del caniche debe prestar especial <strong>atención a sus oídos y ojos</strong>. La variedad de
                caniche enano tiene predisposición a
                padecer otitis por tener el canal auditivo estrecho y, por otra parte, a sufrir una degeneración
                progresiva de la retina que conduce a la pérdida
                de visión. Son dos puntos especialmente conflictivos en esta raza que deben vigilarse para poder
                detectarse los problemas a tiempo.</p>
        </div>
    </div>
</div>