<div class="container">
 
 <div  class="text-center m-5">
     <hr>
     <h2>Te suscribiste a nuesto Blog</h2>
     <hr>

<h3>Se envio toda la Informacion a :</h3>
  <div class="container row">
    <div class="mb-3 row">
        <label for="nombre" class="col-sm-2 col-form-label">Nombre: </label>
      <div class="col-sm-10">
        {{nombre}}
      </div>
      </div>
      <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">Email: </label>
      <div class="col-sm-10">
        {{email}}
      </div>
      </div>
  </div>


 </div>

  </div>

