<div class="container-fluid">
    <div class="container">

        <div class="articulo">
         <br>
          <h2 id="ficha-raza-perro-carlino"><strong>Ficha de la raza de perro Golden</strong></h2>

            <p><strong>Mascota:</strong> Perro.<br><strong>Familia:</strong> Retriever.<br><strong>Grupo:</strong> FCI:
                Grupo 8, Sección 1: Perros cobradores de caza.<br><strong>Origen:</strong>
                Inglaterra.<br><strong>Tamaño:</strong> Grande.</p>
            <h2 id="historia-golden-retriever"><strong>Historia del Golden Retriever</strong></h2>
            <p>El Golden Retriever es <strong>descendiente directo</strong> de una raza de perro ruso que
                actuaba en los circos y espectáculos, gracias a su <strong>facilidad</strong> para el
                <strong>amaestramiento</strong> y a su <strong>obediencia</strong> innata. Además, formaba parte de las
                <strong>grandes partidas</strong> de los <strong>zares</strong> y se le consideraba como <strong>perro
                    pastor</strong> de las ovejas caucásicas.</p>
            <div style="margin-bottom:18px">
                <div id="amg_videointext" style="margin-bottom:18px">
                    <script
                        type="text/javascript">var t = '//des.smartclip.net/ads?t=de&p=9372&pl=f4cae7e9&sz=400x320&cat=intxt'; t += '&rnd=' + Math.round(Math.random() * 1e8); var n = document.createElement('script'); n.type = 'text/javascript'; n.src = t; document.body.appendChild(n);</script>
                </div>
            </div>
            <p>Fue en 1858 cuando, en una gira circense por Inglaterra, <strong>Lord Tweedmoth</strong> (prendado de sus
                habilidades) adquirió varios ejemplares de esta clase de can, con el fin de criarlos y adiestrarlos.
                Posteriormente, los cruzó entre sí, con el <strong>Bloodhound</strong> y con otras clases de retrievers
                ingleses, obteniendo como resultado una raza canina recubierta con un precioso <strong>manto de color
                    dorado</strong>. Pero no sería hasta años más tarde, concretamente en <strong>1913</strong>, cuando
                este perro sería <strong>reconocido oficialmente</strong> como "Golden Retriever".</p>
            <p><img class="img-responsive" load="lazy"
                    src="https://www.hogarmania.com/archivos/201705/perros-razas-golden-retriever-rasgos-XxXx80.jpg"
                    alt="perro raza golden retriever" height="auto" width="100%"></p>
            <h2 id="rasgos-fisicos-golden-retriever"><strong>Rasgos físicos del Golden Retriever</strong></h2>
            <p>Su <strong>constitución</strong> es musculosa y fuerte, de <strong>apariencia</strong> elegante. El
                Golden Retriever <strong>macho</strong> pesa entre 30 y 34 kilogramos, mientras que tiene una altura que
                gira en torno a los 56-61 centímetros. Por su parte, la <strong>hembra</strong> pesa de 25 a 29 kg. y
                mide aproximadamente de 51 a 56 cm.</p>
            <p>De cabeza ancha y de tamaño medio, orejas de mediana longitud y caídas, ojos oscuros, trufa de un color
                negro intenso, hocico fuerte y ancho, y con una dentadura robusta, esta raza de perro
                <strong>se</strong> <strong>caracteriza sobre todo por su pelo</strong>: presenta un doble pelaje; uno
                interno, que es suave y denso; y otro externo, grueso y a prueba del agua.</p>
            <p>Su <strong>color es dorado</strong>, aunque en algunos casos presenta una tonalidad "crema", con mechones
                blancos en el lomo.</p>
            <p><img class="img-responsive" load="lazy"
                    src="https://www.hogarmania.com/archivos/201705/perros-razas-golden-retriever-cachorro-XxXx80.jpg"
                    alt="perro raza golden retriever" height="auto" width="100%"></p>
            <h2 id="comportamiento-golden-retriever"><strong>Comportamiento del Golden Retriever</strong></h2>
            <p>E cuanto al comportamiento y la educación del <strong>Golden Retriever</strong>, hay que
                mencionar que se <strong>relaciona perfectamente</strong> con los niños. Es muy cariñoso, inteligente,
                obediente, paciente, fiel y un buen compañero. <strong>Necesita de mucho afecto</strong> y no puede
                aguantar la <strong>soledad</strong>.</p>
            <p>No se caracteriza por ser un "perro guardián", ya que <strong>no es muy propenso a ladrar</strong>,
                aunque sí lo suele hacer cuando percibe alguna anormalidad o se encuentra aburrido.</p>
            <p>Se <strong>adapta con facilidad</strong> a la vida en una casa con patio, pero también puede aclimatarse
                a convivir dentro de un apartamento. Le encanta nadar, lo que le produce una sensación agradable y de
                bienestar.</p>
            <h2 id="salud-cuidados-golden-retriever"><strong>Salud y cuidados del Golden Retriever</strong></h2>
            <p>En cuanto a la salud, requiere <strong>practicar ejercicio de manera diaria</strong>, pero
                siempre guiado por su dueño, ya que si no tenderá a tumbarse y descansar.</p>
            <p>El <strong>cuidado de su pelo</strong> <strong>es primordial</strong>: es conveniente realizarle un buen cepillado cada semana. Tiende a perder pelo, con lo que se
                recomienda aplicarle un champú especial para pelo largo, así como una crema suavizante. También hay que
                cortarle la uñas regularmente.</p>
            <p>En cuanto a las <strong>enfermedades</strong>, la displasia de cadera y las dolencias en los ojos son
                las más comunes.</p>
        </div>

    </div>
</div>