<div class="container-fluid">
    <h1 class="m-2 p-3 ">
        {{titulo}}
    </h1>

   <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://www.gentedecanaveral.com/wp-content/uploads/2018/07/DATA_ART_1080925_VERTIL.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.hundehuette-nf.de/s/img/emotionheader1055670.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://elclubmascotas.com/sites/default/files/paseadores-de-perros.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://vidaconmascotas.com/wp-content/uploads/2021/01/El-gato-no-responde-si-lo-llamo-por-que-me.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/razas%20de%20perros%20peque%C3%B1os%20para%20departamento-2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
<br><hr> 
  <h3 class="text-center">Curiosidades de Nuestros Amigos</h3>
<hr>

   <div class="row text-center justify-content-center m-5 p-4">
  
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="https://i.pinimg.com/564x/24/b8/cf/24b8cff19365f58cb0009edb16eea80d.jpg" class="card-img-top" alt="...">
      <div class="card-body">
    <h5 class="card-title">Caniche</h5>
    <p class="card-text">Este perro pequeño de largo pelo rizado es una de las razas de perro más famosas. Asiduo de los concursos de belleza, el caniche es de carácter..</p>
    <a href='caniche' class="btn btn-outline-success"> Mas Info+</a>
          </div>
      </div>
    </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_896,h_707/https://gatoanimal.com/wp-content/uploads/2020/05/siames-tabby-point.jpg" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title">Siames</h5>
          <p class="card-text">El gato siamés es una de las razas de gato más conocidas. El siamés es un gato de tamaño medio, muy inteligente y cariñoso. Te contamos cuál es el...</p>
          <a href='siames' class="btn btn-outline-success">Mas Info+</a>
          </div>
      </div>
    </div>
  
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="https://i.pinimg.com/564x/48/db/95/48db95f709610fac566995d18bf699f8.jpg" class="card-img-top" alt="...">
      <div class="card-body">
    <h5 class="card-title">Hamster</h5>
    <p class="card-text">Los hámster son animales muy inteligentes que interactúan más de lo que crees.</p>
    <a href='hamster' class="btn btn-outline-success">Mas Info+</a>
          </div>
      </div>
      </div>
      <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="https://i.pinimg.com/564x/37/b7/7a/37b77a722adf1051a42dabae6eb86344.jpg" class="card-img-top" alt="...">
      <div class="card-body">
    <h5 class="card-title">Golden retriever</h5>
    <p class="card-text">Descubre toda la información, consejos y los cuidados necesarios para tener un Golden retriever como mascota.</p>
    <a href='golden' class="btn btn-outline-success">Mas Info+</a>
          </div>
      </div>
     </div>
     <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="https://i.pinimg.com/564x/d2/b7/bf/d2b7bf48c5c2b44342f4c666923ce6a1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
    <h5 class="card-title">Pug</h5>
    <p class="card-text">El carlino o pug es un perro oriental, proveniente de China. Conoce más información sobre la raza de perro carlino o pug.</p>
    <a href='pug' class="btn btn-outline-success">Mas Info+</a>
          </div>
      </div>
      </div>

      <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="https://i.pinimg.com/564x/04/81/d6/0481d6531311c51353fdcb313dedbd80.jpg" class="card-img-top" alt="...">
      <div class="card-body">
    <h5 class="card-title">San Bernardo</h5>
    <p class="card-text-footer">El San Bernardo es una raza de perro del grupo moloso de tamaño gigante. ¡Aprende más sobre él!</p>
    <a href='sanbernardo' class="btn btn-outline-success">Mas Info+</a>
          </div>
      </div>
    </div>
    
  
</div>
</div>
