<div class="container-fluid">
    <div class="container">
        <div class="articulo">
            <br>
            <h2 id="ficha-raza-perro-carlino"><strong>Ficha de la raza de perro Carlino</strong></h2>
            <ul>
                <li><strong>Mascota:</strong> Perro</li>
                <li><strong>Grupo:</strong> FCI: Grupo 9, Sección 11: Perros de compañía, Molosoides de talla pequeña
                </li>
                <li><strong>Origen:</strong> China</li>
                <li><strong>Tamaño:</strong> Pequeño</li>
            </ul>
            <h2 id="historia-perro-carlino"><strong>Historia del perro carlino o pug</strong></h2>
            <p>Este simpático y característico perro se conoce con distintos nombres en todo
                el mundo. En China se llama Foo, en Inglaterra Pug y en Alemania Mop . En <strong>España </strong>nos
                referimos a esta raza como Carlino, un nombre que
                proviene de un antiguo comediante italiano llamado Carlin, que en sus representaciones vestía de
                arlequín con un antifaz negro que recordaba a la máscara del perro. También es conocido como
                <strong>doguito</strong>.</p>
                <p><img class="img-responsive" load="lazy"
                    src="https://s1.1zoom.me/b5050/66/Dogs_Puppy_Pug_Black_464592_1920x1080.jpg"
                    alt="pug1" height="auto" width="100%"></p>
            <p>El <strong>carlino o pug</strong> es un perro oriental, proveniente de <strong>China</strong>. Se trata
                de una raza muy antigua, que según se cree era muy respetada por la realeza del país.</p>
            
            <p>Aunque no está muy claro, los antepasados del <strong>carlino o pug</strong> podrían ser el pekinés de pelo corto, el bulldog o algún tipo de dogo miniatura.</p>
            <p>Tampoco se sabe a ciencia cierta como llegó la raza a Europa. Algunos creen que apareció por primera vez
                en <strong>Holanda</strong>, desde donde viajaron primero a Inglaterra y después al resto de países
                europeos. Otros apuntan que la raza se extendió por el continente desde Portugal.</p>
            <p>Durante el siglo XVII el <strong>perro carlino o pug</strong> adquirió una gran popularidad y se
                convirtió en un <strong>perro aristócrata</strong>, instalándose en numerosas cortes europeas. Más
                tarde, fue desplazado por el pekinés que hizo disminuir su popularidad alrededor del siglo XIX, pero hoy
                en día ha vuelto a convertirse en una raza muy valorada.</p>
            <h2 id="rasgos-fisicos-perro-carlino"><strong>Rasgos físicos del perro carlino o pug</strong></h2>
            <p>El carlino es es uno de los perros enanos más adorables, muy
                <strong>compacto</strong>, de estructura cuadrada y líneas proporcionadas. Tiene los músculos fuertes
                aunque a primera vista pueda parecer un perro regordete.</p>
            <p>Su <strong>cabeza</strong> es redonda y grande en comparación con el resto de su cuerpo. Una de sus
                características más especiales son las <strong>arrugas</strong> que surcan su cara a la altura del
                hocico, corto y aplastado. Sus grandes <strong>ojos</strong>, oscuros, brillantes y saltones, le otorgan
                una expresión muy dulce. Las orejas son pequeñas, a veces plegadas hacia atrás (oreja en rosa), a veces
                hacia delante (oreja en botón).</p>
                <p><img class="img-responsive" load="lazy"
                    src="https://p4.wallpaperbetter.com/wallpaper/286/137/266/pug-wallpaper-preview.jpg"
                    alt="pug2" height="auto" width="100%"></p>
            <p>Tiene el <strong>cuello</strong> ancho y corto, aunque eso no le impide llevar la cabeza bien alta. Su
                <strong>cola</strong> es también uno de sus rasgos más característicos, siempre
                <strong>enroscada</strong> en la parte superior del trasero.</p>
            <p>El <strong>pelaje</strong> es <strong>corto</strong>, fino, denso y brillante, suave al tacto. Los
                colores más comunes son el plateado, el albaricoque y el negro, aunque también existen mantos atigrados
                y blancos. El hocico es de color negro formando junto a los ojos oscuros una característica
                "<strong>máscara</strong>" que le da un aspecto muy peculiar.</p>
            <p>El peso ideal está entre <strong>6 y 8 kilos</strong>, mientras que su altura a la cruz ronda los
                <strong>30 cm</strong>.</p>
            <h2 id="comportamiento-perro-carlino"><strong>Comportamiento del perro carlino o pug</strong></h2>
            <p>El <strong>carlino </strong>es un perro de compañía, muy dócil y cariñoso, sobre todo
                con su dueño a quién exigirá mucho afecto. Es muy <strong>sociable</strong> tanto con las personas como
                con otras mascotas, aunque suele ser un poco <strong>obstinado</strong>. Se llevan muy bien con los niños pequeños y saben respetar a los mayores.</p>
            <h2 id="cuidados-enfermedades-perro-carlino"><strong>Cuidados y enfermedades del perro carlino</strong></h2>
            <p>El "pug" es un perro <strong>limpio</strong>, su pelaje apenas desprende olor, pero hay que cepillarlo
                con regularidad para eliminar el pelo muerto, sobre todo en época de muda.</p>
            <p>El <strong>perro carlino</strong> Suele tener <strong>problemas de respiración</strong>, debido a su
                corto hocico. Su nariz es tan chata que no le permite respirar con facilidad cuando se fatiga o cuando
                tiene calor. Por esta razón, es importante que no realice ejercicio intenso, evitar una exposición
                prolongada al sol y los paseos en horarios calurosos. Es muy sensible a los golpes de calor. Su corto
                hocico también es la causa de los fuertes <strong>ronquidos</strong> que el carlino emite mientras
                duerme.</p>
                <p><img class="img-responsive" load="lazy"
                    src="https://st4.depositphotos.com/5155011/23393/v/600/depositphotos_233931946-stock-video-portrait-pug-dog-looking-at.jpg"
                    alt="pug2" height="auto" width="100%"></p>
            <p>Los <strong>ojos</strong> de la <strong>raza de perro carlino</strong> son muy <strong>delicados</strong>
                y <strong>saltones</strong>. Puede sufrir lesiones oculares causadas por golpes en la córnea,
                inflamaciones y úlceras. Debido a la delicadeza de sus globos oculares suelen lagrimear a menudo.</p>
            <p>El <strong>perro carlino</strong> es propenso a las <strong>alergias de la piel</strong> y por su
                incansable apetito puede sufrir sobrepeso.</p>
            <p>Su esperanza de vida supera los <strong>12 años</strong> de media.</p>
        </div>
    </div>
</div>