<div class="container-fluid">
    <div class="container">
        <div class="articulo">
            <br>
            <h2 id="ficha-raza-perro-carlino"><strong>Ficha de la raza San Bernardo</strong></h2>
            <p style="margin-top: 10px;"></p>
            <ul>
                <li><strong>Mascota:</strong> Perro</li>
                <li><strong>Nombres: </strong>San Bernardo</li>
                <li><strong>Grupo:</strong> FCI: Grupo 2, Sección 2.2: Molosoides de tipo montaña</li>
                <li><strong>Origen:</strong> Suiza</li>
                <li><strong>Tamaño:</strong> Gigante</li>
            </ul>
            <h2 id="historia-bernardo"><strong>Historia del San Bernardo</strong></h2>

            <p>El San Bernardo tiene su origen en los <strong>Alpes</strong> <strong>suizos</strong>, donde sus
                antepasados se dedicaban sobre todo a cuidar las granjas y proteger al ganado. No obstante, con el
                tiempo la función principal de este formidable animal se convirtió en algo mucho más importante: la
                <strong>búsqueda y rescate</strong> de montañeros extraviados en la nieve. Su nombre lo recibe del
                hospicio San Bernardo, en los Alpes, donde fue criado por los monjes en el siglo XVII con este
                propósito.</p>

            <p>Gracias a su fuerza, su tamaño y su resistencia, se convirtió en el <strong>perro de salvamento</strong>
                por antonomasia, extendiendo su fama por toda Europa hasta convertirse en un símbolo.</p>

            <p>En <strong>1884</strong> se fundó el <strong>Club Suizo del perro San Bernardo</strong>. Tres años
                después fue reconocido oficialmente como raza y se estableció el estándar.</p>
                 <p><img class="img-responsive" load="lazy"
                    src="https://w0.peakpx.com/wallpaper/767/179/HD-wallpaper-saint-bernard-dog-muzzle-cute-animals-lawn-pets-dogs-saint-bernard.jpg"
                    alt="pug1" height="auto" width="100%"></p>

            <h2 id="rasgos-fisicos-bernardo"><strong>Rasgos físicos del San Bernardo</strong></h2>

            <p>Se trata de una raza
                    de perro de talla muy grande, cuya altura a la cruz gira en torno a los
                <strong>70 cm. de alto</strong>. Su cuerpo es fuerte y robusto, pero <strong>armonioso</strong>. Sus ojos
                marrones inspiran confianza y ternura y junto con sus orejas, caídas y de punta redondeada, le confieren
                una expresión inteligente, amable, llena de bondad.</p>

            <p>Existen dos variedades: el San Bernardo de <strong>pelo corto</strong>, que tiene una capa externa densa,
                lisa y pegada al cuerpo, y el de <strong>pelo largo</strong>, con una capa externa de longitud media
                (excepto en la cara y las orejas) que puede ser lisa u ondulada.</p>

            <p>En cuanto al color, lo más común es el <strong>blanco</strong> en la base salteado con
                <strong>manchas</strong> <strong>marrones</strong> de distintos tamaños, que pueden ser de tono rojizo,
                amarillo o atigrado.</p>

            <h2 id="comportamiento-bernardo"><strong>Comportamiento del San Bernardo</strong></h2>

            <p>El San Bernardo es un buen perro <strong>guardián</strong>, siempre alerta ante la presencia de cualquier
                intruso y dispuesto a defender su territorio. No obstante, es un perro conocedor de su fuerza y sabe
                controlarla.</p>
                 <p><img class="img-responsive" load="lazy"
                    src="https://p4.wallpaperbetter.com/wallpaper/958/894/369/dogs-saint-bernard-wallpaper-preview.jpg"
                    alt="pug1" height="auto" width="100%"></p>

            <p>Por lo general, se trata de un compañero ideal para vivir en familia, sobre todo en el caso de las
                hembras, muy mansas y afectuosas con los <strong>niños</strong>, a quienes dedican todo su instinto de
                <strong>protección</strong>. Esta cualidad es la que le ha proporcionado a la raza el apodo de "perro niñera".</p>

            <p>El macho puede ser un poco terco y dominante, por lo que es preciso educarlo bien desde cachorros.</p>

            <h2 id="cuidados-bernardo"><strong>Cuidados del San Bernardo</strong></h2>

            <p>Necesita hacer <strong>ejercicio moderado</strong> saliendo a caminar un rato todos los días. Además,
                necesita un constante contacto con la naturaleza.</p>

            <p>Debido a su gran tamaño requiere <strong>mucho espacio</strong>, por lo que no es recomendable para la
                vida en pisos pequeños.</p>

            <p>Hay que<strong> cepillarlo diariamente</strong>, sobre todo si se trata de la variedad de pelo largo.
                También es recomendable limpiarle las orejas y los ojos habitualmente.
            </p>

            <p>En condiciones óptimas puede llegar a vivir <strong>entre 8 y 10 años</strong>. Es propenso, por su gran
                tamaño, a sufrir torsión de estómago.</p>
            <h2 id="sabias-que..."><strong>Sabías que...</strong></h2>
            <p>El San Bernardo más famoso es el perro <strong>Beethoven</strong>, protagonista de la famosa saga de
                películas.</p>
                 <p><img class="img-responsive" load="lazy"
                    src="https://es.web.img2.acsta.net/medias/nmedia/18/65/06/31/19681815.jpg"
                    alt="pug1" height="auto" width="100%"></p>
        </div>
    </div>
</div>