<div class="container-fluid">
   <div class="container">
      <div class="articulo">
         <br>
         <h2 id="ficha-raza-perro-carlino"><strong>Ficha de la raza de perro Siames</strong></h2>
         <p><strong>Familia:</strong> Siamés</p>
         <p><strong>Grupo:</strong> Categoría IV ( Gatos Siameses y Orientales )</p>
         <div style="margin-bottom:18px">
            <div id="amg_videointext" style="margin-bottom:18px">
               <script
                  type="text/javascript">var t = '//des.smartclip.net/ads?t=de&p=9372&pl=f4cae7e9&sz=400x320&cat=intxt'; t += '&rnd=' + Math.round(Math.random() * 1e8); var n = document.createElement('script'); n.type = 'text/javascript'; n.src = t; document.body.appendChild(n);</script>
            </div>
         </div>
         <p><strong>Origen:</strong> Tailandia (Antiguo reino de Siam)</p>
         <p><strong>Tamaño:</strong> Medio</p>
         <h2 id="origen-gato-siames">Origen del gato siamés</h2>
         <p>Los primeros indicios de su existencia datan del siglo XIV de nuestra era. Proviene del <strong>antiguo
               reino de Siam</strong>,
            actualmente <strong>Tailandia</strong>, donde eran venerados en los templos y criados por los nobles. En
            muchos textos antiguos los
            denominan "Diamantes de Luna" lo que nos da una idea del valor que tenían para los monjes y aristócratas
            siameses.</p>
         <p>Se
            consideraban un bien muy especial y sólo los poseían las familias bien situadas. Su entrada definitiva en
            nuestro continente
            vino de la mano del rey de Siam, quien en 1880 regaló dos parejas al cónsul general inglés en Bangkok quien
            los llevó a Londres.</p>
         <p><img class="img-responsive" load="lazy"
               src="https://www.hogarmania.com/archivos/202110/gato-siames-jugando-XxXx80.jpg" alt="Gato siamés"
               style="width: 100%; height: auto;"></p>
         <h2 id="caracteristicas-gato-siames">Características del gato siamés</h2>
         <p>El gato siamés es de
            tipo oriental. Muestra una cabeza triangular y unas orejas grandes y terminadas en punta. <strong>Sus ojos
               son azules </strong>en todos
            los casos y su pelo es corto y suave. En los meses fríos suelen echar una capa de pelo que pierden con la
            llegada de la primavera. </p>
         <p>El color de su manto es característico y propio de la raza, mostrando un gen de la línea albina, gen que
            hace que la coloración del
            pelo sea más oscura donde la temperatura corporal es menor (extremidades, cola, cara y orejas).</p>
         <p>Dependiendo del color de su
            pelo podemos encontrar diferentes <strong>variedades</strong> de esta raza (Seal point, Chocolate point,
            Blue point, Lilac
            point, Red point, Cream point, Tabby point, Tortie point).</p>
         <h2 id="caracter-gato-siames">Carácter del gato siamés</h2>
         <p>En cuanto a su <strong>carácter</strong> el gato siamés es una de las razas más <strong>sociables</strong>
            que vamos a
            encontrar. Son realmente <strong>afectuosos</strong> con los miembros de la familia y no es raro que al
            llegar a casa nos
            venga a recibir lleno de alegría y nos siga de habitación en habitación. Por eso, muchos le denominan el
            "<strong>perro
               de los gatos</strong>".</p>
         <p><img class="img-responsive" load="lazy"
               src="https://www.hogarmania.com/archivos/202110/gato-siames-afectuoso-XxXx80.jpg"
               alt="Carácter del gato siamés" style="width: 100%; height: auto;"></p>
         <p>Asimismo, suelen ser muy <strong>inteligentes y curiosos</strong>,
            capaces de aprender juegos y trucos e incluso de pasear atado con una correa. También tenemos que destacar
            su <strong>carácter activo</strong>.
            Si tenemos jardín es recomendable dejarle explorar y desgastar su energía. Si por el contrario va a
            desarrollar su vida en un apartamento tendremos
            que dedicar cierto tiempo a jugar con él.</p>
         <p>Por otro lado, no es tan independiente como el resto de gatos y no le suele gustar mucho quedarse
            sólo en casa. Si se siente ignorado puede hacer travesuras para llamar la atención.</p>
         <p>Teniendo en cuenta su inteligencia y carácter activo,
            te recomendamos comprar un juguete interactivo para gatos para que se desarrolle al mismo tiempo que se
            entretiene y gasta su energía.</p>
         <h2 id="cuidados-gato-siames">Cuidados del gato
            siamés</h2>
         <p>Al tener un pelo corto, nos será suficiente con <strong>peinarlo una vez por semana</strong>, exceptuando la
            época en
            la que se despoja del manto de pelo propio de los mese fríos. Este periodo habrá que cepillarlo más a
            menudo.</p>
         <p>La <strong>mejor alimentación</strong> que podemos dar a nuestro gato es una dieta seca, eso sí, siempre
            acompañada de
            <strong>abundante agua</strong> (fresca y limpia).
         </p>
         <p>En cuanto a las <strong>enfermedades más comunes</strong>, una de
            las más ligadas a esta raza es el estrabismo y el nistagmo, provocadas por la alteración del nervio óptico
            por el gen cs.</p>
         <p>Por otro lado, en caso de tener una <strong>gata siamesa</strong>, es importante saber
            gato egipcio.</p>
      </div>
   </div>
</div>