
<div class="container">
 
 <div  class="text-center m-5">
     <hr>
     <h1>Quienes somos..</h1>
     <hr>
     <br>
 </div>

     <div class="cuadrado">
      <br>
       <p class="m-5 p-4 fluid">
       <img src="https://i.pinimg.com/564x/d4/65/58/d46558912ccc25c9cb6f40b2b0f055b4.jpg" alt="img1" style="float: right;"> <br> Snopy es la primera y única cadena de tiendas del país especializada en productos y servicios para mascotas. Te damos una experiencia diferente de compra, ofreciendo productos y servicios de alta calidad que cumplen con las necesidades de las mascotas y la satisfacción de sus dueños. 
       <br><br>
       En Snopy reconocemos a las mascotas como un miembro más de la familia, a las que debemos cuidar, proteger, y brindar el mejor cuidado para que tengan una excelente calidad de vida. Para ello ofrecemos la más amplia variedad de infomacion de alimenticios, accesorios, farmacia, servicios experimentados (veterinaria, peluquería), mascotas para adopción , y mucho más! 
       <br><br>
       <b>Snopy, donde las mascotas están primero.</b> 
       </p>
     </div>
     <hr>
     <br>
     <h4> Seguinos en nuestras Redes Sociales..</h4><br>
     <section class="buttons">
      <a href="https://es-la.facebook.com/" class="fa fa-facebook-square"></a>
      <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
      <a href="https://twitter.com/?lang=es" class="fa fa-twitter"></a>
      <a href="https://ar.linkedin.com/" class="fa fa-linkedin-square"></a>
     </section>
     <br>





 </div>
